{:paths   ["src" "resources"]

 :deps    {org.clojure/clojure            {:mvn/version "1.12.0"}
           org.clojure/data.json          {:mvn/version "2.5.1"}
           org.clojure/math.combinatorics {:mvn/version "0.3.0"}
           org.clojure/data.priority-map  {:mvn/version "1.2.0"}}

 :aliases {:nrepl {:jvm-opts   ["-XX:+UseContainerSupport", "-XX:MaxRAMPercentage=85"]
                   :main-opts  ["-e" "(do,(set!,*warn-on-reflection*,true),nil)"
                                "-m" "nrepl.cmdline" "--bind" "0.0.0.0" "--port" "8888"]
                   :extra-deps {nrepl/nrepl {:mvn/version "1.0.0"}}}
           :test  {:extra-paths ["test"]
                   :extra-deps  {lambdaisland/kaocha {:mvn/version "1.60.977"}}}}}
